<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add car blud</h1>

    <form th:action="@{/addcar}" th:object="${car}" th:method="POST">
        <input type="text" th:field="*{brand}" placeholder="Brand name...">
        <input type="text" th:field = "*{yer}" placeholder="year...">
        <input type="text" th:field ="*{price}" placeholder="price....">
        <button type="submit">Save</button>
        <input type="hidden" th:field="*{id}">
    </form>
    <!-- <form th:action="@{/addcar}" th:object="${car}" method="post">
        <input type="text" th:field="*{brand}" placeholder="Brand names...">
        <input type="text"  th:field="*{yer}"" placeholder="year...">
        <input type="text" th:field="*{price}"" placeholder="price....">
        <button type="submit">Save</button>
        <input type="hidden" th:field="*{Id}"">
    </form> -->
    
</body>
</html>