<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car rental</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <div class="container">
        <div  th:each="car:${cars}" class="car">
            <h1 th:text="${'Brand: '+ car.brand}"></h1>
            <span th:text="${'Year: '+ car.yer}"></span>
            <span th:text="${'Price: '+ car.price}"></span>
            <a th:href="@{/book(carId=${car.id})}">Book</a>
        </div>
    </div>
    
</body>
</html>